{{> header}}
{{>navbar}}
<h1>David Alfaro</h1>
<p style="color: white">(José de Jesús Alfaro Siqueiros; Chihuahua, 1898 - Cuernavaca, 1974) Pintor mexicano, figura máxima, junto a Diego Rivera y José Clemente Orozco, del muralismo mexicano. Tributaria de la estética expresionista y la retórica declamatoria que le exigía su radicalismo político, su pintura aunó la tradición popular mexicana con las preocupaciones del surrealismo y el expresionismo europeos.
    En 1914, con apenas dieciséis años, se alistó en el ejército constitucionalista para luchar en la Revolución mexicana, una experiencia que le llevaría a descubrir "las masas trabajadoras, los obreros, campesinos, artesanos y los indígenas... (y sobre todo), las enormes tradiciones culturales de nuestro país, particularmente en lo que se refiere a las extraordinarias civilizaciones precolombinas."
    Pero si importante fue la influencia de este hallazgo en años clave para su formación, no lo fue menos la huella que dejaron en él los tres años que pasó en Europa, hacia donde partió en 1919. La suma de ambas experiencias determinó por igual su pensamiento artístico, que cristalizó en el manifiesto que publicó en Barcelona en la revista Vida Americana en mayo de 1921, coincidiendo con los primeros encargos de José Vasconcelos.</p>
<br>
<br>
<br>
<br>
<br>
<center>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicadores -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>

    </ol>

    <!-- Weas -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="democracia.gif" alt="">
        </div>

        <div class="item">
            <img src="coronel.gif" alt="">
        </div>

        <div class="item">
            <img src="accidente.gif" alt="">
        </div>
        <div class="item">
            <img src="diablo.gif" alt="">
        </div>
        <div class="item">
            <img src="monument.gif" alt="">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>
</center>
<br>
{{>footer}}