{{> header}}
{{>navbar}}
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card h-700">
            <a href="/DavidAlfaro"><img style="height: 200px"   src="siqueiros-min.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">David Alfaro Siqueiros</h5>
                <p class="card-text">José David de Jesús Alfaro Siqueiros, más conocido como David Alfaro Siqueiros​, ​ fue un pintor y militar mexicano. Es considerado uno de los tres grandes exponentes del muralismo mexicano junto con Diego Rivera y José Clemente Orozco.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-700">
            <a href="/JoseOrozco"><img style="height: 200px" src="jose.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">José Clemente Orozco</h5>
                <p class="card-text">José Clemente Ángel Orozco Flores fue un caricaturista, ​ muralista y litógrafo mexicano. Graduado de la Escuela Nacional de Agricultura, estudió también matemáticas y dibujo arquitectónico.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-700">
            <a href="/MariaIzquierdo"><img style="height: 200px" src="maria.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">María Izquierdo</h5>
                <p class="card-text">María Cenobia Izquierdo Gutiérrez fue una pintora mexicana, la primera en exponer sus obras fuera de México, en 1930. Su primera exposición tuvo lugar en el Art Center de la ciudad de Nueva York.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-700">
            <a href="/LeonoraCarrington"><img style="height: 200px" src="leonora.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Leonora Carrington</h5>
                <p class="card-text">Leonora Carrington (1917-2011) fue una mujer que se adelantó a su época al romper con las reglas sociales impuestas a las mujeres de la primera mitad de siglo XX: se enfrentó a la visión moralista de su familia victoriana y al machismo surrealista que la veía como musa en vez de artista </p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-700">
            <a href="/RufinoTamayo"><img style="height: 200px" src="rufino.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">Rufino Tamayo</h5>
                <p class="card-text">Rufino del Carmen Arellanes Tamayo fue un pintor modernista mexicano.​​​Es considerado como uno de los pintores mexicanos de mayor importancia del siglo XX, siendo además uno de los primeros artistas .</p>
            </div>
        </div>
    </div>
</div>
{{>footer}}